@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-white;
    font-family: Montserrat, sans-serif;
    background: linear-gradient(180deg, #313945, #161d26) no-repeat;
    background-size: 100% 100%; 
  }
  .box-shadow {
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
      0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
  }
}

@layer components {
  .dashboard {
    @apply px-4 pb-6 md:px-12 md:pb-20 w-full;
  }
  .text-h6 {
    font-size: 1rem;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.6;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .text-h5 {
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0.4px;
    /* padding: 0.2rem 0 1rem; */
    color: #fcfcfc;
  }
  .text-color-secondary {
    color: rgba(255, 255, 255, 0.5);
  }
  .main-info {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    border: 2px solid hsla(0, 0%, 100%, 0.1);
    background: none;
    box-shadow: none;
  }
  .wallet-button {
    @apply text-xl text-[#3C434E] bg-[#F6C675] hover:bg-[#CCA551] px-9 py-2 rounded-md transition-all duration-300;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
